<task-form (notify)='onNotify($event)' (submitNewTask)='submitNewTask($event)'> </task-form>

<table *ngIf="tasks" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">ID</th>
      <th>Title</th>
      <th>Created</th>
      <th>Done?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td class="mdl-data-table__cell--non-numeric">{{task.id}}</td>
      <td>{{task.title}}</td>
      <td>{{task.createdAt | date:'medium'}}</td>
      <td><mdl-checkbox [mdl-ripple]="true" [(ngModel)]="task.done"></mdl-checkbox></td>
    </tr>
    <tr *ngIf="text1||text2||text3||text4">
      <td> {{text1}} </td>
      <td> {{text2}} </td>
      <td> {{text3}} </td>
      <td> {{text4}} </td>
    </tr>
  </tbody>
</table>
<input type="string" [(ngModel)]='test_2'>
<p>This is: {{test_2}}</p> 
<!-- Colored FAB button with ripple -->
